/* Global ===================== */
:root {
    --dark-blue: #363f5f;
    --white: #fff;
    --light-green: #3dd705;
    --red: #e92929;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    color: #fff;
    font-size: 18px;
}


nav a:hover{
    transition: 0.5s;
    background: #e4e4e4;
    color: #776fff;
    padding: 10px;
    border-radius: 3px;
    
}

.menu {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    margin-left: 35px;
    
}

header {
    background: #776fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding: 20px;
    justify-items: right;
    
}

html {
    font-size: 93.75%; /* 15px */
}

body {
    background: #fff;
    font-family:'Poppins', sans-serif
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 900px);
    margin: auto;
}

/* Titles ===================== */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
       font-weight: normal;
}

/* Links & Buttons ===================== */
a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: #ec9d09f5;
}

button {
    width: 100%;
    height: 50px;

    border: 2px #12a454 solid;

    color: #12a454;
    background: var(--green);

    padding: 0;

    border-radius: 0.25rem;

    cursor: pointer;
}

button:hover {
    background: #6c63ff;
    color: #fff;
}

.button.new {
    display: inline-block;
    margin-bottom: .2rem;
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

/* Header ===================== */
header {
    background: #776fff;
    padding: 2rem 0 2rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/* Balance ===================== */
#balance {
    margin-top: 9rem;
}

#balance h2 {
    color:white;
    
}

/* Cards ===================== */
.card {
    background: #f8fbff;
    padding: 2.5rem 2rem;
    border-radius: 1.00rem;

    margin-bottom: 2rem;

    color: var(--dark-blue);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.55);
}

.card h3 {
    font-weight: bold;
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 1.5rem;
    line-height: 2rem;
    white-space:nowrap;
    margin-top: 1rem;
}

.card.total {
    background: #f8fbff;
    color: var(--dark-blue);
}

/* Imput ===================== */

#input-control {   
    margin-top: 3rem; 
    align-items: center;
    
}

#input-control h2 {
    color:white;
    
}

/* Small-Card ===================== */
.small-card {
    background: #6c63ff;
    padding: 0.8rem 4.5rem;
    border-radius: 0.50rem;   
    margin-bottom: 3rem;


    color: white;
}

.small-card h3 {
    font-weight: normal;
    font-size: 1.25rem;
    
    
}

.small-card a {
    font-size: 1.5rem;
    line-height: 1rem;
    white-space:nowrap;
    margin-top: 1rem;
    width: 100px;
    
}

/* Table ===================== */
#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}
#data-table {
    width: 100%;
    border-spacing: 0 0.5;
    color: #000;
}

table th {
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
    

}

table thead tr th:first-child, 
table tbody tr td:first-child
{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child, 
table tbody tr td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: #ecebf1;

    font-weight: bold;
    padding: 1rem 2rem;

    text-align: left;
}

table tbody tr {
    opacity: 0.7
}

table tbody tr:hover {
    opacity: 3
}

table tbody td {
    background:#ecebf1;
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: #12a454;
}

td.expense {
    color: #e92929;
}

/* Modal ===================== */
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: hidden;
   
    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #F0F2f5;
    padding: 2.4rem;

    position: relative;
    z-index: 1;
}


/* Form ===================== */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group .help{
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}



/* Responsive ===================== */
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }

    #input-control {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 3rem;
    }
}