/* Global ===================== */
:root {
  
    --dark-blue: #363f5f;
    --white: #fff;
    --light-green: #3dd705;
    --red: #e92929;
    --color-primary: #6C63FF;
  --color-font-btn :#fff;
  --color-btn-hover:#3d37ad;
  --color-border-btn: #F1DBB4;
  --color-bg: #f0f2f5;
  --color-font-icon-green:#0FA958;
  --color-font-icon-red:#EC3232;
  --color-font-dark: #494949;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  help-user =================*/

.help-user .p-help {
    display: none;
}
  
.help-user:hover .p-help {
    display: inline;
    cursor: pointer;
}

/* HEADER ============ */

header {
    background-color: var(--color-primary);
    height: 6rem;
    display: flex;
    align-items: center;
}
  
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
header nav ul {
    display: flex;
    gap: 7.2rem;
    list-style: none;
    align-items: center;
}
  
header nav ul li a {
    color: var(--color-font-btn);
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;

    transition: color .7s;
}

header nav ul li a:hover{
    color: var(--color-border-btn);
}

header #user_avatar .ph-user {
    font-size: 2rem;
    background-color: #3d37ad;
    color: var(--color-border-btn);
  
    border-radius: 999px;
  
    padding: .8rem;
  
    cursor: pointer;
    transition: background-color .7s;
}
  
header #user_avatar .ph-user:hover{
    background-color: #322d8f;
}
  
  
h1 {
    color: var(--color-font-btn);
    font-weight: 300;
    font-size: 2rem;
}
  
h1 span {
   font-size: 1.6rem;
   color: var(--color-border-btn);
   font-weight: 500;
}

html {
    font-size: 62.5%; /* 15px */
}

body {
    background: #fff;
    font-family:'Poppins', sans-serif
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 1050px);
    margin: auto;
}

/* Titles ===================== */
h2 {
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* Links & Buttons ===================== */
a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.6rem;
}

button {
    width: 100%;
    height: 50px;

    border: 2px #12a454 solid;

    color: #12a454;
    background: var(--green);

    padding: 0;

    border-radius: 0.25rem;

    cursor: pointer;
}

button:hover {
    background: #6c63ff;
    color: #fff;
}

.button.new {
    display: inline-block;
    margin-bottom: .2rem;
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

/* Balance ===================== */
#balance {
    margin-top: 9rem;
}

#balance h2 {
    color:white;
    
}

/* Cards ===================== */
.card {
    background: #f8fbff;
    padding: 2.5rem 2rem;
    border-radius: 1.00rem;

    margin-bottom: 2rem;

    color: var(--dark-blue);
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.55);
}

.card h3 {
    font-weight: bold;
    font-size: 1.8rem;
    

    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.card p {
    font-size: 1.5rem;
    line-height: 2rem;
    white-space:nowrap;
    margin-top: 1rem;
}

.card.total {
    background: #f8fbff;
    color: var(--dark-blue);
}

/* Imput ===================== */

#input-control {   
    margin-top: 3rem; 
    
    
}

#input-control h2 {
    color:white;
    
}

/* Small-Card ===================== */
.small-card {
    width: 26rem;
    background: #6c63ff;
    padding: 0.8rem 3.5rem;
    border-radius: 0.50rem;   
    margin-bottom: 3rem;
    position: absolute;
    color: white;
}

.small-card h3 {
    font-weight: normal;
    font-size: 1.25rem;
    text-align: center;
    
}

.small-card a {
    font-size: 1.5rem;
    line-height: 0.5rem;
    
    margin-top: 1rem;
    width: 100px;
    
}

/* Table ===================== */
#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}
#data-table {
    width: 100%;
    border-spacing: 0 0.5;
    color: #000;
}

table th {
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
    

}

table thead tr th:first-child, 
table tbody tr td:first-child
{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child, 
table tbody tr td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: #ecebf1;

    font-weight: bold;
    padding: 1rem 2rem;

    text-align: left;
}

table tbody tr {
    opacity: 0.7
}

table tbody tr:hover {
    opacity: 3
}

table tbody td {
    background:#ecebf1;
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: #12a454;
}

td.expense {
    color: #e92929;
}

/* Modal ===================== */
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: hidden;
   
    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #F0F2f5;
    padding: 2.4rem;

    position: relative;
    z-index: 1;
}


/* Form ===================== */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group .help{
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

/* MENU LATERAL ===============*/

.side-bar {
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(0,0,0,0.5);
    border-left: .6px solid rgba(0,0,0,0.1);
  
    transition:  0.6s ease;
}
  
.side-bar.active {
    right: 0;
}
  
.side-bar .menu-lateral {
   width: 100%;
   margin-top:20rem;
   position: absolute;
}
  
.side-bar .ph-x{
    font-size: 3rem;
    color: var(--color-bg);
  
    position: relative;
    top: 60px;
    right: -25px;
    
    cursor: pointer;
}
  
.side-bar .ph-x:hover {
  transform: scale(1.5);
    
}
  
.side-bar .menu-lateral:nth-child(2){
    list-style: none;
}
  
.side-bar .menu-lateral #user_avatar i{
    list-style: none;
    text-align: center;
    position: relative;
    top: -90px;
    right: -90px;
    padding: 1rem;
  
    background-color: var(--color-bg);
    border-radius: 9999px;
  
    font-size: 8rem;  
}
  
  
.side-bar .menu-lateral .item{
    width: 100%;
    list-style: none;
    background: var(--color-bg);
    padding: 1.6rem;
    margin-bottom: 3rem;
  
    cursor: pointer;
  
    display: flex;
    gap: 6rem;
}
  
.side-bar .menu-lateral .item:hover{
    background-color: var(--color-primary);
    transition: .3s ease;
    color: #f0f2f5;
    
}
  
.side-bar .menu-lateral .item i {
    font-size: 20px;
}
  
/* ======= modal sobre ========  */
  
.modal-About .modal {
    max-width: 600px;
    height: 450px;
    text-align: justify;
  
    background: var(--color-bg);
}
  
.modal-About .modal .ph-x  {
    color:var(--color-font-dark);
    top: -4px;
    right: -480px;
}
  
.modal-About .modal h2 {
    margin-bottom: .6rem;
    color: var(--color-primary);
} 
  
.modal-About .modal h2 span {
    color: var(--color-border-btn);
}
  
.modal-About .modal p {
    margin-bottom: 2rem;
}
  
.modal-About .modal .list-group {
    margin-left: 2rem;
}
  
.modal-About .modal .list-group li {
    margin-bottom: .6rem;
}

.modal-About {
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, .7);
  
    position: fixed;
    top: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    opacity: 0;
    visibility: hidden;
}
  
.modal-About.active {
    opacity: 1;
    visibility: visible;
}

.modal .ph-x {
    font-size: 3rem;
    color: var(--color-bg);
  
    position: relative;
    top: 60px;
    right: -25px;
    
    cursor: pointer;
}  




/* Responsive ===================== */
@media (max-width: 796px) {
    header {
        align-items: start;
    }

    header nav ul li h1 {
        display: none;
    }    
}

@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }
    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }

    #input-control {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        justify-items: center;
        margin-bottom: 100px;
        gap: 3rem;
    }
}