@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {

  font-size: 62.5%;
  --dark-blue: #363f5f;
  --white: #fff;
  --light-green: #3dd705;
  --red: #e92929;
  --color-primary: #6C63FF;
--color-font-btn :#fff;
--color-btn-hover:#3d37ad;
--color-border-btn: #F1DBB4;
--color-bg: #f0f2f5;
--color-font-icon-green:#0FA958;
--color-font-icon-red:#EC3232;
--color-font-dark: #494949;
}

/* HEADER ============ */

header {
  background-color: var(--color-primary);
  height: 6rem;
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 7.2rem;
  list-style: none;
  align-items: center;
}

header nav ul li a {
  color: var(--color-font-btn);
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;

  transition: color .7s;
}

header nav ul li a:hover{
  color: var(--color-border-btn);
}

header #user_avatar .ph-user {
  font-size: 3rem;
  background-color: #3d37ad;
  color: var(--color-border-btn);

  border-radius: 999px;

  padding: .8rem;

  cursor: pointer;
  transition: background-color .7s;
}

header #user_avatar .ph-user:hover{
  background-color: #322d8f;
}


h1 {
  font-family: "Poppins", sans-serif;
  color: var(--color-font-btn);
  font-weight: 300;
  font-size: 2.2rem;
}

h1 span {
 font-size: 1.6rem;
 color: var(--color-border-btn);
 font-weight: 500;
}

html {
  font-size: 67.5%; /* 15px */
}

.container {
  width: min(90vw, 1050px);
  margin: auto;
}

/*============ MAIN =====================*/

main {
  width: 50rem;

  margin: 8rem;
  display: grid;
  place-items: center;
}


/* MENU LATERAL ===============*/

.side-bar {
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  background: rgba(0,0,0,0.5);
  border-left: .6px solid rgba(0,0,0,0.1);

  transition:  0.6s ease;
}

.side-bar.active {
  right: 0;
}

.side-bar .menu-lateral {
 width: 100%;
 margin-top:20rem;
 position: absolute;
}

.side-bar .ph-x{
  font-size: 3rem;
  color: var(--color-bg);

  position: relative;
  top: 60px;
  right: -25px;
  
  cursor: pointer;
}

.side-bar .ph-x:hover {
transform: scale(1.5);
  
}

.side-bar .menu-lateral:nth-child(2){
  list-style: none;
}

.side-bar .menu-lateral #user_avatar i{
  list-style: none;
  text-align: center;
  position: relative;
  top: -90px;
  right: -120px;
  padding: 1rem;

  background-color: var(--color-bg);
  border-radius: 9999px;

  font-size: 8rem;  
}


.side-bar .menu-lateral .item{
  width: 100%;

  font-size: 1.4rem;
  list-style: none;
  background: var(--color-bg);
  padding: 1.6rem;
  margin-bottom: 3rem;

  cursor: pointer;

  display: flex;
  gap: 10rem;
}

.side-bar .menu-lateral .item:hover{
  background-color: var(--color-primary);
  transition: .3s ease;
  color: #f0f2f5;
  
}

.side-bar .menu-lateral .item i {
  font-size: 20px;
}

/* ======= modal sobre ========  */

.modal-About .modal {
  max-width: 600px;
  height: 450px;
  text-align: justify;

  background: var(--color-bg);
}

.modal-About .modal .ph-x  {
  color:var(--color-font-dark);
  top: -4px;
  right: -480px;
}

.modal-About .modal h2 {
  margin-bottom: .6rem;
  color: var(--color-primary);
} 

.modal-About .modal h2 span {
  color: var(--color-border-btn);
}

.modal-About .modal p {
  margin-bottom: 2rem;
}

.modal-About .modal .list-group {
  margin-left: 2rem;
}

.modal-About .modal .list-group li {
  margin-bottom: .6rem;
}

.modal-About {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, .7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal-About.active {
  opacity: 1;
  visibility: visible;
}

.modal .ph-x {
  font-size: 3rem;
  color: var(--color-bg);

  position: relative;
  top: 60px;
  right: -25px;
  
  cursor: pointer;
}  
